<!-- use map to see the color -->
<h4><%= @latest_results.map{ |result| result.color} %></h4>

<!-- <div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% Complete (warning)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <span class="sr-only">80% Complete (danger)</span>
  </div>
</div> -->

<!-- Dropdown filter  -->
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select By
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "GREEN", "?color=GREEN" %></li>
    <li><%= link_to "YELLOW", "?color=YELLOW" %></li>
    <li><%= link_to "RED", "?color=RED" %></li>
    <li><%= link_to "ALL", "?color=ALL" %></li>
  </ul>
</div>

<div class="row">
  <% if @students != nil %>
    <% @students.each do |student| %>
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail">
          <%= image_tag student.picture %>
          <div class="caption">
            <h3><%= link_to student.first_name + ' ' +student.last_name, batch_student_path(student.batch_id,student.id) %></h3>
            <p>
              <% if student.evaluations.get_latest_result(student.id) != [] %>
              <%= student.evaluations.get_latest_result(student.id).color %>
              <% else %>
              <h4>No Evaluation At All, You stupid asshole!!!</h4>
              <% end %>
            </p>
            <p><%= link_to "Edit", edit_batch_student_path(@batch.id,student.id), class: "btn btn-primary" %>
              <%= link_to "Delete", batch_student_path(@batch.id,student.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>There is no student having this color of evaluation.</h3>
  <% end %>
</div>
