<!-- use map to see the color -->
<h4><%= @latest_results.map{ |result| result.color} %></h4>
<!-- Dropdown filter  -->
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select By
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "GREEN", "?color=GREEN" %></li>
    <li><%= link_to "YELLOW", "?color=YELLOW" %></li>
    <li><%= link_to "RED", "?color=RED" %></li>
    <li><%= link_to "ALL", "?color=ALL" %></li>
  </ul>
</div>

<% if @students != nil %>
  <% @students.each do |student| %>
    <h3>
      <%= link_to student.first_name + ' ' +student.last_name, batch_student_path(student.batch_id,student.id) %>
      <%= link_to "Edit", edit_batch_student_path(@batch.id,student.id), class: "btn btn-primary" %>
      <%= link_to "Delete", batch_student_path(@batch.id,student.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
    </h3>
    <% if student.evaluations.get_latest_result(student.id) != [] %>
      <%= student.evaluations.get_latest_result(student.id).color %>
    <% else %>
      <h4>No Evaluation At All, You stupid asshole!!!</h4>
    <% end %>
  <% end %>
<% else %>
  <h3>There is no student having this color of evaluation.</h3>
<% end %>
