<!-- use map to see the color -->
  <h4>
    <% if @latest_results == nil %>
      Latest day of evaluation for this batch:<%=  @latest_results.first.time %>
    <% else %>
      There is no evaluation yet.
    <% end %>
    <% @color_array = @latest_results.map{ |result| result.color} %>
  </h4>

<% number_of_green = @color_array.select{ |color| color == "GREEN" }.length %>
<% number_of_yellow = @color_array.select{ |color| color == "YELLOW" }.length %>
<% number_of_red = @color_array.select{ |color| color == "RED" }.length %>
<% number_of_students_of_this_batch = @all_students_of_this_batch.length %>

<% green = number_of_green/number_of_students_of_this_batch.round(2) * 100 %>
<% yellow = number_of_yellow/number_of_students_of_this_batch.round(2) * 100 %>
<% red = number_of_red/number_of_students_of_this_batch.round(2) * 100 %>


<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: <%= green %>%">
    <p><%= green.round(1) %>%</p>
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= yellow %>%">
    <p><%= yellow.round(1) %>%</p>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: <%= red %>%">
    <p><%= red.round(1) %>%</p>
  </div>
</div>

<!-- Dropdown filter  -->
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select By
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "GREEN", "?color=GREEN" %></li>
    <li><%= link_to "YELLOW", "?color=YELLOW" %></li>
    <li><%= link_to "RED", "?color=RED" %></li>
    <li><%= link_to "ALL", "?color=ALL" %></li>
  </ul>
</div>

<div class="row">
  <% if @students != nil %>
    <% @students.each do |student| %>
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail">
          <%= link_to image_tag(student.picture), batch_student_path(student.batch_id,student.id) %>
          <div class="caption">
            <h3><%= link_to student.first_name + ' ' +student.last_name, batch_student_path(student.batch_id,student.id) %></h3>
            <p>
              <% if student.evaluations.get_latest_result(student.id) != [] %>
              Latest Evaluation:
              <%= student.evaluations.get_latest_result(student.id).time %>
              <%= student.evaluations.get_latest_result(student.id).color %>
              <% else %>
              <p>No evaluation yet, you can add one now!!!</p>
              <% end %>
            </p>
            <p><%= link_to "Edit", edit_batch_student_path(@batch.id,student.id), class: "btn btn-primary" %>
              <%= link_to "Delete", batch_student_path(@batch.id,student.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>There is no student having this color of evaluation.</h3>
  <% end %>
</div>
