<style media="screen">
.foo {
float: left;
width: 40px;
height: 40px;
margin: 1px;
/*border: 1px solid rgba(0, 0, 0, .2);*/
}

.green {
  background: #00cc00;
}

.yellow {
background: #ffd633;
}

.red {
background: #ff0000;
}
</style>

<h3>Evaluation?</h3>
<div  class="col-sm-3">
  <div class="thumbnail">
    <%= image_tag @student.picture %>
  </div>
</div>
<div class="col-sm-9">
<h3><b><%= @student.first_name %></b></h3>
<h4><%= link_to 'Batch #' + @student.batch_id.to_s , batch_path(@student.batch_id) %></h4>
<% @student.evaluations.order(:time).each do |evaluation| %>
  <% if evaluation.color == "GREEN" %>
    <div class="foo green"></div>
  <% elsif evaluation.color == "YELLOW" %>
    <div class="foo yellow"></div>
  <% else %>
    <div class="foo red"></div>
  <% end %>
<% end %>
</div>
<div class="col-sm-12">
<%= render 'evaluations/form' %>
<hr />
<%= render 'evaluations/edit' %>
</div>


<% if flash[:alert] %>
<div class="alert"><%= flash[:alert] %></div>
<% end %>
