<%= form_for @batch do |f| %>
<div class="form-inline">
  <div class="form-group">
    <label>Number</label>
    <%= f.text_field :number, placeholder: "Number" , class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Start Time</label>
    <%= f.date_field :start_at, class: "form-control", class: "start_at" %>
  </div>

  <div class="form-group">
    <label>End Time</label>
    <%= f.date_field :end_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
