<%= form_for @batch do |f| %>
  <div class="form-group">
    <label>Batch number</label>
    <%= f.text_field :number, placeholder: "Number", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Start Date</label>
    <%= f.date_field :start, class: "form-control" %>
  </div>


  <div class="form-group">
    <label>End Date</label>
    <%= f.date_field :end, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
