  <%= form_tag(batches_path, method: :get) do %>
    <%= text_field_tag :number, params[:number] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
<h1>Batch Index Page<h1>
<% @batches.each do |batch| %>
  <h3>Batch #<%= link_to batch.number, batch_path(batch.id) %><h3>
  <h3><%= batch.start %>  to  <%= batch.end %></h3>
  <% if batch.students.length > 0 %>
  <h3><%= batch.students.length %> students</h3>
  <% else %>
    <h3>Not added any student yet</h3>
  <% end %>
  <hr>
<% end %>

<h3>Create a new batch?</h3>
<%= render 'form' %>
