<h1>Batch <%= @batch.number%> Information<h1>
<%= render 'students/index' %>
<hr>
<h3>Ask someone a question?</h3>
<%= link_to "GENERATE", '?question=ASK' , class: "btn btn-primary" %>
  <% if @random_student != nil %>
    <%= @random_student.first_name + ' ' + @random_student.last_name %>
    <%= image_tag @random_student.picture %>
  <% end  %>
<hr>
<h3>Add a student?</h3>
<%= render 'students/form' %>
<%=  %>
